nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  max-width: 800px;

  a {
    margin: 0 20px;
    font-size: 24px;
    text-decoration: none;
    flex-grow: 1;
    padding: 0.5em;
    position: relative;
    color: #79a97d;
    display: block;
  }
  a:hover {
    color: #a9bb8f;
  }
}
