nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 800px;
        margin: auto;
            
            
    
       a{
        margin:0 20px;
        font-size: 24px;
        text-decoration: none;
        font-family: 'Playfair Display SC', serif;
         flex-grow: 1;
         text-align: center;
         padding: 0.5em;
         position: relative;
         color: #4d4d4e;
         display: block;
      
       }
    
      
}