.favoritecard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 10px 1%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__img {
    max-width: 100%;
    z-index: 1;
    position: relative;
  }

  &__box {
    padding: 10px 10px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;

    &-title {
      display: inline-block;
      font-weight: 700;
      letter-spacing: -0.4px;
      margin-bottom: 5px;
    }

    &-title::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #79a97d;
      content: "";
      opacity: 0.7;
      z-index: -1;
    }
  }
}
