.photo {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  float: left;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  margin: 10px 1%;
  overflow: hidden;
  position: relative;
  width: 100%;
  

  .photo_image {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  
  }
  .photo__title {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  .photo__title-box {
    padding: 10px 10px 15px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .photo__title-box::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #79a97d;
    content: "";
    opacity: 0.7;
    z-index: -1;
  }

  .photo__favorite-icon button{
    color: red;
    font-size: 18px;
    font-weight: 700;
    min-height: 38px;
    min-width: 38px;
    padding: 10px 0;
    float: right;
    border-radius: 70px;
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
      
  }
}
